.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/.history
.emacs.d/.bookmarks
.emacs.d/auto-save-list/
.emacs.d/history
.emacs.d/bookmarks
.emacs.d/projectile-bookmarks.eld
.emacs.d/.org-generic-id-locations
.emacs.d/eshell/
.emacs.d/persist/
.emacs.d/projects
.emacs.d/url/
.emacs.d/org-generic-id-locations
.emacs.d/eshell
.emacs.d/recentf
*.elc
*~

*.bat

rclone

mpd/database
mpd/log
mpd/pid
mpd/playlists/
mpd/state
